# ![Ray Databricks Connector](images/databrick_connector_logo.png)
This user guide walks through the basics of reading and writing data with the Ray and Databricks.

The Ray Databricks connector enables parallel read and write to and from a Databricks SQL endpoint. The connector utilizes the Python DB API 2.0 specification implemented by most databases.

## Initialize ray
Ray will automatically be initialized with defaults when calling any ray or ray dataset methods. To specify configuration, like `loggin_level`, add the below.

In [1]:
import ray, logging
if not ray.is_initialized():
    ray.init()
ray.logger.setLevel(logging.WARN)

2023-02-15 19:57:05,226	INFO worker.py:1242 -- Using address localhost:9031 set in the environment variable RAY_ADDRESS
find: ‘.git’: No such file or directory
2023-02-15 19:57:05,489	INFO worker.py:1364 -- Connecting to existing Ray cluster at address: 10.0.25.139:9031...
2023-02-15 19:57:05,494	INFO worker.py:1544 -- Connected to Ray cluster. View the dashboard at https://console.anyscale.com/api/v2/sessions/ses_vnmb5jgl4z6q98h61dx25rccju/services?redirect_to=dashboard
2023-02-15 19:57:05,499	INFO packaging.py:330 -- Pushing file package 'gcs://_ray_pkg_9ce2c0b9c705a4bc77fa420edd6b0e74.zip' (0.82MiB) to Ray cluster...
2023-02-15 19:57:05,509	INFO packaging.py:343 -- Successfully pushed file package 'gcs://_ray_pkg_9ce2c0b9c705a4bc77fa420edd6b0e74.zip'.

## Connection properties
The databricks  connection properties need to be provided to the data source upon creation. These properties are documented by the databricks.

Below is an example of loading properties from the environment, and filtering them by the 'DATABRICKS_' prefix.

In [2]:
import os

env_connect_props = {
    key.replace('DATABRICKS_','').lower(): value 
    for key,value in os.environ.items() if 'DATABRICKS_' in key
}

env_connect_props = dict(
    server_hostname='dbc-fa3925fd-9102.cloud.databricks.com',
    access_token='dapicb1c5e6df282d4c02274befc34c4755d',
    http_path='/sql/1.0/warehouses/db3be239af982b71'
)

# add db and schema in connect props
# add db and schema in connect props
connect_props = dict(
    catalog = 'samples',
    schema = 'tpch',
    **env_connect_props
)

print('Connection properties:')
print('\n'.join(connect_props.keys()))

Connection properties:
catalog
schema
server_hostname
access_token
http_path

# Reading
Ray will use Databricks Python API to read in parallel into a Ray cluster. The created Ray datasets is composed of PyArrow dataframes that are spread across the Ray cluster to allow for the distributed operations required in machine learning.

![Databricks Read](images/databricks_read.png)

### Read from tables
In order to read an entire table into a a Ray cluster, utilize the Ray data `read_databricks` method. The code below will read in a sample table from a Databricks sample database.

In [3]:
from ray.data import read_databricks

# read the table, limiting to first 1K customers
ds = read_databricks(connect_props, table='customer').limit(1000)

# display the first 3 results
ds.limit(3).to_pandas()

/home/ray/anaconda3/lib/python3.10/site-packages/snowflake/connector/options.py:96: UserWarning: You have an incompatible version of 'pyarrow' installed (11.0.0), please install a version that adheres to: 'pyarrow<10.1.0,>=10.0.1; extra == "pandas"'
  warn_incompatible_dep(
(pid=297062) /home/ray/anaconda3/lib/python3.10/site-packages/snowflake/connector/options.py:96: UserWarning: You have an incompatible version of 'pyarrow' installed (11.0.0), please install a version that adheres to: 'pyarrow<10.1.0,>=10.0.1; extra == "pandas"'
(pid=297062)   warn_incompatible_dep(
Read progress: 100%|██████████| 1/1 [00:01<00:00,  1.40s/it]
Read progress: 100%|██████████| 1/1 [00:00<00:00, 1110.19it/s]

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,412445,Customer#000412445,"0QAB3OjYnbP6mA0B,kgf",21,31-421-403-4333,5358.33,BUILDING,arefully blithely regular epi
1,412446,Customer#000412446,"5u8MSbyiC7J,7PuY4Ivaq1JRbTCMKeNVqg",20,30-487-949-7942,9441.59,MACHINERY,sleep according to the fluffily even forges. f...
2,412447,Customer#000412447,HC4ZT62gKPgrjr ceoaZgFOunlUogr7GO,7,17-797-466-6308,7868.75,AUTOMOBILE,aggle blithely among the carefully express excus

### Read with a query
For more control over columns and rows read, as well as joining data from multiple tables, a query can be specified instead of a table name.

In [4]:
QUERY = 'SELECT C_ACCTBAL, C_MKTSEGMENT FROM CUSTOMER WHERE C_ACCTBAL < 0 LIMIT 1000'

# read the result of the query
ds2 = read_databricks(connect_props, query=QUERY)

# display the first 3 results
ds2.limit(3).to_pandas()

Read progress: 100%|██████████| 1/1 [00:00<00:00,  1.30it/s]
Read progress: 100%|██████████| 1/1 [00:00<00:00, 804.74it/s]

  C_ACCTBAL C_MKTSEGMENT
0   -219.53     BUILDING
1   -778.23   AUTOMOBILE
2   -848.16     BUILDING

### Additional read parameters
For reading from Databricks, underlying Python API arguments are also available and can be passed to the underlying execute method.

The code below uses the parameters argument to specify parameterss to be used by Databricks when executing the query.

In [5]:
QUERY = 'SELECT C_ACCTBAL, C_MKTSEGMENT FROM CUSTOMER WHERE C_ACCTBAL > %(balance)i LIMIT 100'

ds3 = read_databricks(connect_props, query=QUERY, parameters={'balance':2.0})
ds3.limit(3).to_pandas()

Read progress: 100%|██████████| 1/1 [00:00<00:00,  1.88it/s]
Read progress: 100%|██████████| 1/1 [00:00<00:00, 1093.98it/s]

  C_ACCTBAL C_MKTSEGMENT
0   5358.33     BUILDING
1   9441.59    MACHINERY
2   7868.75   AUTOMOBILE

## Writing
The Ray Databricks connector will use the Databricks driver to write each partition of data in parallel. Each partition of data in the Ray dataset will have a write task that writes in parallel to a cload strorage location. After the 
partitions are written, a table is created using the parquet files. This 
![Databricks write](images/databricks_write.png)

### Write to tables
In order to write a dataset into database table, use the `write_dbapi2` method of the dataset object. Repartition the dataset prior to calling this method in order to set the number of write tasks.

In [6]:
from databricks.sql import connect

write_connect_props = {
    **connect_props, 
    'catalog':'hive_metastore',
    'schema':'default'
}

# create destination table
with connect(**write_connect_props) as con:
    with con.cursor() as cursor:
        cursor.execute('DROP TABLE IF EXISTS customer2')
        cursor.execute('CREATE TABLE customer2 AS (SELECT * FROM samples.tpch.customer LIMIT 0)')

The example below writes the previously read data into a new database table that are created using the Snowflake Python API.

In [7]:
# write the dataset to the table 
ds.write_databricks(
    write_connect_props, 
    table='customer2',
    credential='8b246fc0-6157-42de-8d3e-21fc2dff232b-data-access-config-1676359658624',
    stage_uri='s3://egr-sydney-databricks/stage')

# read the new table
ds4 = read_databricks(write_connect_props, table='customer2')
ds4.limit(3).to_pandas()

Write Progress:   0%|          | 0/1 [00:00<?, ?it/s](pid=298008) /home/ray/anaconda3/lib/python3.10/site-packages/snowflake/connector/options.py:96: UserWarning: You have an incompatible version of 'pyarrow' installed (11.0.0), please install a version that adheres to: 'pyarrow<10.1.0,>=10.0.1; extra == "pandas"'
(pid=298008)   warn_incompatible_dep(
(pid=298009) /home/ray/anaconda3/lib/python3.10/site-packages/snowflake/connector/options.py:96: UserWarning: You have an incompatible version of 'pyarrow' installed (11.0.0), please install a version that adheres to: 'pyarrow<10.1.0,>=10.0.1; extra == "pandas"'
(pid=298009)   warn_incompatible_dep(
Write Progress: 100%|██████████| 1/1 [00:34<00:00, 34.33s/it]
Read progress: 100%|██████████| 1/1 [00:00<00:00,  1.71it/s]
Read progress: 100%|██████████| 1/1 [00:00<00:00, 1261.44it/s]

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,412445,Customer#000412445,"0QAB3OjYnbP6mA0B,kgf",21,31-421-403-4333,5358.33,BUILDING,arefully blithely regular epi
1,412446,Customer#000412446,"5u8MSbyiC7J,7PuY4Ivaq1JRbTCMKeNVqg",20,30-487-949-7942,9441.59,MACHINERY,sleep according to the fluffily even forges. f...
2,412447,Customer#000412447,HC4ZT62gKPgrjr ceoaZgFOunlUogr7GO,7,17-797-466-6308,7868.75,AUTOMOBILE,aggle blithely among the carefully express excus

## Advanced Usage
If more low level access to the Ray Databricks connector is needed, the underlying `DatabricksConnector` and `DatabricksDatasource` can be used.

### Databricks Connector
The `DatabricksConnector` class holds the connection properties and logic required to establish a connection with Databricks. Internally it calls the native Python dirver API in order to read and write from and to tables in parallel across the cluster. The datasource uses the DB API 2 `execute` and `executemany` methods to enable parallel read and writes of data.

The connector is also a Python context manager, and utilize `with` semantics to define when a connection should be established, db operations commited to the database, and the connection closed. 

The code below will read from a sample table using the connector to manage the connection.

In [8]:
from ray.data.datasource import DatabricksConnector

# query the number of rows, using the connection context to
# manage transactions
with DatabricksConnector(**connect_props) as connector:
    count = connector.query_int(f'SELECT COUNT(*) FROM customer')

print(count)

750000

Alternatively, you can use `try` blocks with the connector's `open`, `commit` and `close` methods.

In [9]:
try:
    connector = DatabricksConnector(**write_connect_props)
    connector.open()
    count = connector.query_int(f'SELECT COUNT(*) FROM customer2')
finally:
    connector.close()
    
print(count)

1000

### Databricks Datasource
The Databricks datasource can be used with the Ray data `read_datasource` and `write_datasource` methods to read and write to databases using the distibuted processing capabilities of Ray data. The datasource uses the DatabricksConnector class internally.

Below is an example of creating the datasource using the previously defined connect properties, and then using it to read and write.

In [10]:
from ray.data.datasource import DatabricksDatasource
from ray.data import read_datasource

# create a datasource from a connector
datasource = DatabricksDatasource(connector)

# use read_datasource to read
ds = read_datasource(datasource, table='customer2')
ds.limit(3).to_pandas()

Read progress: 100%|██████████| 1/1 [00:00<00:00,  3.39it/s]
Read progress: 100%|██████████| 1/1 [00:00<00:00, 978.61it/s]

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,412445,Customer#000412445,"0QAB3OjYnbP6mA0B,kgf",21,31-421-403-4333,5358.33,BUILDING,arefully blithely regular epi
1,412446,Customer#000412446,"5u8MSbyiC7J,7PuY4Ivaq1JRbTCMKeNVqg",20,30-487-949-7942,9441.59,MACHINERY,sleep according to the fluffily even forges. f...
2,412447,Customer#000412447,HC4ZT62gKPgrjr ceoaZgFOunlUogr7GO,7,17-797-466-6308,7868.75,AUTOMOBILE,aggle blithely among the carefully express excus

### DML and DDL
The connector can also be used for any DDL or DML operations you would normally execute through the DB Native Python API. These operations just pass through to the underlying API. 

The code below will create the objects needed for writing to tables. Note that a commit is issued between the queries so the DDL operation executes prior to the next one that is dependent. An alternative is to use two `with` blocks to define transaction boundaries.

In [11]:
with connector as con:
    con.query('DROP TABLE IF EXISTS customer2')